<div class="modal-content" fxLayout="column">
  <carousel [isAnimated]="true" [interval]="myInterval" [(activeSlide)]="activeSlideIndex">
    <slide *ngFor="let slide of slides; let index=index">
      <img [src]="slide.image" alt="Image slide" style="display: block; width: 100%;">
    </slide>
  </carousel>

  <div class="apartment-variants">
    <table class="data-table">
      <tr>
        <th>Number</th>
        <th>Price</th>
        <th>Beds</th>
        <th>Rooms</th>
        <th>Bathroom</th>
      </tr>
      <tr *ngFor="let apartment of liveBuilding.apartments">
        <td>{{apartment.number}}</td>
        <td>{{apartment.price}}</td>
        <td>{{apartment.amountOfBeds}}</td>
        <td>{{apartment.amountOfRooms}}</td>
        <td *ngIf="apartment.ifBathroomExist !== false, else elseBlock">available</td>
        <td><button type="button" class="btn btn-primary" (click)="orderApartment(apartment)"
          [disabled]="apartment.isOrdered" >Order</button>
        </td>
      </tr>
    </table>
    <ng-template #elseBlock><td>not available</td></ng-template>
  </div>

  <button type="button" class="closeBtn" (click)="bsModalRef.hide()">
    Back
  </button>
</div>
