<div class="result-card">
  <mat-card class="mat-card" fxLayout="row">
    <mat-card-header class="mat-card-header" fxLayout="column">
      <div class="name-rating-number" fxLayout="column">
        <p class="name-rating-number-text">{{liveBuilding.name}}</p>
        <img [src]=firstPhoto>
        <div class="rating-and-number" fxLayout="row">
          <rating [(ngModel)]="rate" [max]="max" [readonly]="!isReadonly"></rating>
          <div class="rating-number">
            <p class="building-rating"><b>{{rate}}</b></p>
          </div>
        </div>
      </div>
    </mat-card-header>

    <mat-card-content class="mat-card-content" fxLayout="row">
      <div class="detail-data">
        <p> Address: <b>{{liveBuilding.address}}</b></p>
        <p> Distance to beach: <b>{{liveBuilding.distanceToBeach}} m.</b></p>
        <p *ngIf="liveBuilding.ifPoolExist !== false; else elsePoolBlock"> Pool: <b>exist</b></p>
        <p *ngIf="liveBuilding.ifParkingExist !== false; else elseParkingBlock"> Parking: <b>exist</b></p>
        <p> Type: <b>{{liveBuilding.type.toString()}}</b></p>
        <p> Available apartments: <b>{{liveBuilding.apartments.length}}</b></p>
      </div>
      <ng-template #elsePoolBlock><p>Pool: <b>doesn't exist</b></p></ng-template>
      <ng-template #elseParkingBlock><p>Parking: <b>doesn't exist</b></p></ng-template>
    </mat-card-content>

    <mat-card-actions>
      <div class="cost-and-button" fxLayout="row">
        <button type="button" class="btn btn-primary" (click)="openModalWithComponent()">
          Order
        </button>
      </div>
    </mat-card-actions>
  </mat-card>
</div>
