.building-type-search {
  width: 100%;
  height: 320px;
}

.types {
  width: 1000px;
  height: 320px;

  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
}

span {
  font-weight: bold;
  font-size: 16px;

}

.photo {
  width: 207px;
  height: 180px;

  margin-bottom: 10px;

  border-style: double;
}

img {
  width: 201px;
  height: 174px;

}

/******   TypeVariants   *******/
.type-variants {
  margin-top: 15px;
}

/******   Header   *******/
h1 {
  font-weight: bold;
  font-size: 30px;
}

/******   Hotel   *******/
.hotel {
  margin-right: 6%;
}

/******   Villa   *******/
.villa {
  margin-right: 6%;
}

/******   Cottage   *******/
.cottage {
}

