<div class="building-type-search">
  <div class="types" fxLayout="column">
    <h1 class="type-header">Type of buildings that we have</h1>
    <div class="type-variants" fxLayout="row">

      <div class="hotel">
        <div class="photo">
          <img src="assets/images/Hotels.jpg">
        </div>
        <span>Hotels</span>
        <p>{{hotels}} hotels</p>
      </div>

      <div class="villa">
        <div class="photo">
          <img src="assets/images/Villas.jpg">
        </div>
        <span>Villas</span>
        <p>{{villas}} villas</p>
      </div>

      <div class="cottage">
        <div class="photo">
          <img src="assets/images/Cottages.jpg">
        </div>
        <span>Cottages</span>
        <p>{{cottages}} cottages</p>
      </div>
    </div>
  </div>
</div>
