<div class="searchline" fxLayout="column" fxLayoutAlign="stretch">
  <div class="content">
    <div class="search-header" fxLayout="row" fxLayoutAlign="space-between">
      <div>
        <span>Find deals on hotels, private accommodation and more...</span>
        <p>From hotel rooms to cozy villas with amazing scenery</p>
      </div>
      <div class="spinner">
        <mat-spinner diameter=40 *ngIf="loading"></mat-spinner>
      </div>
    </div>
    <div class="options" fxLayout="row" fxLayoutAlign="stretch" >

      <div class="place" fxLayout="row">
        <!--[(ngModel)]="countrySelected"-->
        <input [(ngModel)]="countrySelected"  [ngModelOptions]="{standalone: true}"
               [typeahead]="countryNames"
               [adaptivePosition]="true"
               placeholder="Country"
               class="country form-control">

        <p class="defis">&mdash;&mdash;</p>

        <input [(ngModel)]="citySelected"  [ngModelOptions]="{standalone: true}"
               [typeahead]="setCityNames()"
               [adaptivePosition]="true"
               placeholder="City"
               class="city form-control">
      </div>

      <div class="date form-group">
        <input type="text"
               placeholder="Entry - Departure"
               class="form-control"
               bsDaterangepicker
               [bsConfig]="{ adaptivePosition: true }"
               [(ngModel)]="bsRangeValue"  [ngModelOptions]="{standalone: true}">
      </div>

      <div class="apartments">
        <form fxLayout="row">
          <p>Apartments: </p>
          <input type="text" [(ngModel)]="apartmentCountSelected"  [ngModelOptions]="{standalone: true}"><br>
        </form>
      </div>

      <div class="button">
        <button type="button" class="btn btn-primary" (click)="buttonOnClick()" [disabled]="checkEnteredValues() || loading">Find</button>
      </div>

    </div>
  </div>
</div>

